body{
    background-color: black;
}
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
p{
    color: darkgrey;
}
li{
    inline-size: 50px;
    display: inline;
    color: rgb(255, 255, 255);
    margin: 50px;
}
