body{
    background-color: black;
}
h1{
    color: aliceblue;
    text-align: initial;

}
h2{
    color: aliceblue;
}
p{
    color: darkgrey;
}
li{
    inline-size: 50px;
    display:inline;
    color: rgb(255, 255, 255);
    margin: 20px;
}
container{
    color: rgb(169, 169, 169);
    text-align: center;
display: flex;
}
footer{
    color: rgb(169, 169, 169);
}
